#returnButton {
  -fx-background-image: url(/images/return.png);
}

#validButton {
  -fx-background-image: url(/images/valider.png);
}

.button {
  -fx-background-color: #e9f2f9;
  -fx-text-fill: #e1f5fe;
  -fx-font-weight: 900;
  -fx-background-size: 40px;
  -fx-background-repeat: no-repeat;
}

.titleBar {
  -fx-background-color: #3a89c9;
}

.button:hover {
  -fx-background-color: #9cc4e4;
}
