.titleBar {
  -fx-background-color: #3a89c9;
}

.button:hover {
  -fx-background-color: #9cc4e4;
}

.button {
  -fx-background-color: #dddddd;
  -fx-text-fill: #e1f5fe;
  -fx-font-weight: 900;
  -fx-background-size: 40px;
  -fx-background-repeat: no-repeat;
}

#retour,
#returnButton {
  -fx-background-size: 60%;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-image: url(/images/return.png);
}

#deleteButton {
  -fx-background-size: 60%;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-image: url(/images/delete.png);
}

#researchButton {
  -fx-background-size: 60%;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-image: url(/images/loupe.png);
}

#validButton {
  -fx-background-image: url(/images/valider.png);
}

#background {
  /*-fx-background-color: #000000;*/
  -fx-image-rendering: optimizeQuality;
  -fx-background-color: #e9f2f9;
}

/* .combo-box .cell {
  -fx-text-fill: blue;
  -fx-background-color: #e9f2f9;
  -fx-font: 12px "Arial";
} */

.bobox,
.form {
  -fx-background-color: #e7e8ec;
}