.root {
    -fx-font-family: "Futura";
}


#declarationLabel {
    -fx-text-fill: #E73525;
}

.button {
    -fx-border-color: #000000;
}

.label {
   -fx-font-family: "Futura";
}

#declarationButton {
    -fx-background-image: url(/images/plus.png);
}

#visuLabel {
    -fx-text-fill: #0073BF;
}

#visuButton {
    -fx-background-image: url(/images/table-grid.png);
}

#vbox {
    -fx-background-color: #ffffff;
}