.root {
  -fx-font-family: "Futura";
}

#declarationLabel {
  -fx-text-fill: #e73525;
}

.button {
  -fx-background-color: #e9f2f9;
  -fx-text-fill: #e1f5fe;
  -fx-font-weight: 900;
}

.button:hover {
  -fx-background-color: #9cc4e4;
  -fx-text-decoration: none;
}

.label {
  -fx-font-family: "Futura";
  -fx-font-weight: bold;
}

#declarationButton {
  -fx-background-image: url(/images/plus.png);
}

#visuLabel {
  -fx-text-fill: #0073bf;
}

#visuButton {
  -fx-background-image: url(/images/table-grid.png);
}

#vbox {
  -fx-background-color: #ffffff;
}

#background {
  /*-fx-background-color: #000000;*/
  -fx-image-rendering: optimizeQuality;
  -fx-background-color: #e9f2f9;
}

#image {
  -fx-image-rendering: optimizeQuality;
}
